body{  background: #fff;  font-size: 12px;  font-family: "microsoft yahei","微软雅黑"; width: 100%;  margin: 0;  padding: 0;  }


.topbar {  width: 100%;  height: 28px;  border-bottom: 1px solid #e8e8e8;  background: #f6f6f6;  color: #666;  }


.w1000{  position: relative;  width: 1000px;  margin: 0 auto;  }


.clearfix{  zoom: 1;  }



.topbar .toplink{  float: left;  display: inline;  width: 300px;  height: 28px;  line-height: 28px;  }

.topbar .icon_service {  display: inline-block;  width: 16px;  height: 20px;  margin: -3px 3px 0 0;  line-height: 10px;  background: url(../img/zg_icon.png) no-repeat 0 -12px;  vertical-align: middle;  overflow: hidden;  }

.topbar .toplink a {  margin: 0 15px 0 0;  color: #666666;  text-decoration: none;  }

.topmenu ul li{  float: left;  display: inline;  }

.topbar .topmenu{  float: right;  display: inline;  height: 28px;  line-height: 28px;  }

.topbar .topmenu ul li {  margin: 0 15px 0 0;  }

.topbar .topmenu ul li a{  text-decoration: none;  }



.mall_head{  position: relative;  width: 100%;  height: 72px;  margin: 9px 0;  background: #ffffff;  z-index: 10;  }

.mall_head .right{  float: right;  width: 490px;  margin: 11px 0 0;  }

.mall_head .right .scoreicon{  position: relative;  float: right;  width: 50px;  height: 36px;  margin: 0 0 0 7px;  border: 1px solid #cccccc;  background: #f1edec;  z-index: 9999;  }

.mall_head .right .scoreicon .icon_score {  display: block;  width: 20px;  height: 22px;  margin: 7px 0 0 15px;  background: url(../img/zg_icon.png) no-repeat -232px -265px;  overflow: hidden;  cursor: pointer;  }

.mall_head .right .carticon{  position: relative;  float: right;  width: 50px;  height: 36px;  margin: 0 0 0 7px;  border: 1px solid #cccccc;  background: #f1edec;  z-index: 9999;  }

.mall_head .right .scoreicon .icon_hot {  position: absolute;  top: -8px;  left: 37px;  width: 22px;  height: 10px;  background: url(../img/hot.gif) no-repeat;  }

.mall_head .right .carticon .icon_cart {  display: block;  width: 50px;  height: 36px;  background: url("../img/mallNavCartEmpty.png") 50% 50% no-repeat;  cursor: pointer;  }

.mall_head .logo {  width: 500px;  height: 72px;  background: url(../img/malllogo.jpg) no-repeat 15px 0;  }

.mall_head .right .search{  float: right;  display: inline;  width: 340px;  height: 38px;  }

.mall_head .right .search .text{  float: left;  display: inline;  width: 258px;  }

.mall_head .right .search .text input{  width: 245px;  height: 20px;  padding: 5px 0 5px 5px ;  border: 4px  solid #f50;  line-height: 20px;  outline: none;  }

.mall_head .right .search .button{  float: left;  display: inline;  width: 82px;  }

.mall_head .right .search .button input{  width: 82px;  height: 38px;  margin: 0;  padding: 0;  border: 0;  background: #f50;  outline: none;  font-size: 16px;  font-weight: bold;  color: #ffffff;  cursor: pointer;  }



.mall_nav{  height: 40px;  background: #005bac;  }

.mall_nav ul{  float: left;  display: inline;  width: 820px;  height: 40px;  margin: 0 0 0 180px;  }

.mall_nav ul li{  float: left;  display: inline;  height: 40px;  line-height: 40px;  }

.mall_nav ul li a{  position: relative;  float: left;  display: block;  padding: 0 19px;  color: #ffffff;  font-size: 16px;  padding-right: 20px;  text-decoration: none;  }

.mall_nav ul li a .icon_hot{  position: absolute;  top: -8px;  right: 0;  width: 29px;  heght: 20px;  background: url(../img/zg_icon.png) no-repeat -230px -431px;  overflow: hidden;  }

.mall_nav ul li a .icon_now {  position: absolute;  top: -8px;  right: 0;  width: 29px;  height: 20px;  background: url(../img/zg_icon.png) no-repeat -230px -451px;  overflow: hidden;  }

.mall_nav ul li a .icon_new2 {  position: absolute;  top: -8px;  right: 0;  width: 29px;  height: 20px;  background: url(../img/zg_icon.png) no-repeat -187px -534px;  overflow: hidden;  }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, img {  margin: 0;  padding: 0;  }



.menu{ position:absolute; top:0; left:0; width:180px; z-index: 9;}

.menu_ul { width: 180px; height:408px; background:#fff; box-shadow:0 0 5px #999;display:none; }

.menu h2{ position:absolute; top:-40px; left:0; float:left; display:inline; width:180px; height:40px;}

.menu h2 a{ display:block; width:180px; height:40px; line-height:40px; background:#0075c2; font-size:16px; color:#fff; font-weight:normal; text-align:center;}

.menu h2 a:hover{ text-decoration:none;}

.menu .icon_arrow{ position:absolute; right:12px; top:18px; display:block; width:9px; height:6px; background:url(../img/zg_icon.png) no-repeat -89px 0; overflow:hidden;}

.menu .item{ position:relative; width:180px; height:67px; border-bottom:1px solid #cfcfcf;}

.menu .item.active{ border-bottom-color:#b3b3b3; box-shadow:0 0 6px #666;}

.menu .item.last{ border-bottom-color:#fff;}

ol, ul, li {  list-style: none;  }

.menu .item .list_factory li a {  cursor: pointer;  }

.menu .item h4{ height:20px; padding:10px 12px 8px 36px; line-height:20px; font-size:16px; color:#3f3f3f; font-weight:normal; }

.menu .item h4.dm {  cursor: pointer;  }

.menu .item h4 .icon_arrow{ float:right; display:inline-block; width:5px; height:7px; background:url(../img/zg_icon.png) no-repeat -200px -20px;}

.menu .item p { height:16px; padding:0 0 0 36px; line-height:16px; color:#666;}

.menu .item p a {  margin:0 8px 0 0;  color: #777;  cursor: pointer;  }

.menu .item p b{ margin:0 2px; color:#f50;}

.menu .item .icon_line{ display:none; position:absolute; left:176px; top:0; width:5px; height:67px; background:#fff; overflow:hidden; z-index:9999;}

.menu .item .icon_view{ position:absolute; left:8px; top:26px; width:18px; height:16px; background:url(../img/zg_icon.png) no-repeat -183px -253px; overflow:hidden;}

.menu .item .icon_view_active{ position:absolute; left:8px; top:26px; width:18px; height:16px; background:url(../img/zg_icon.png) no-repeat -165px -253px; overflow:hidden;}

.menu .item .icon_sun{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -242px -168px; overflow:hidden;}

.menu .item .icon_sun_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -224px -168px; overflow:hidden;}

.menu .item .icon_carouse{ position:absolute; left:9px; top:26px; width:18px; height:14px; background:url(../img/zg_icon.png) no-repeat -64px -222px; overflow:hidden;}

.menu .item .icon_carouse_active{ position:absolute; left:9px; top:26px; width:18px; height:14px; background:url(../img/zg_icon.png) no-repeat -82px -222px; overflow:hidden;}

.menu .item .icon_map{ position:absolute; left:9px; top:25px; width:18px; height:17px; background:url(../img/zg_icon.png) no-repeat -147px -239px; overflow:hidden;}

.menu .item .icon_map_active{ position:absolute; left:9px; top:25px; width:18px; height:17px; background:url(../img/zg_icon.png) no-repeat -129px -239px; overflow:hidden;}

.menu .item .icon_box{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -111px -239px; overflow:hidden;}

.menu .item .icon_box_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -93px -239px; overflow:hidden;}

.menu .item .icon_copy{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -183px -235px; overflow:hidden;}

.menu .item .icon_copy_active{ position:absolute; left:8px; top:24px; width:18px; height:18px; background:url(../img/zg_icon.png) no-repeat -165px -235px; overflow:hidden;}



.menu ul li .info{ position:absolute; top:0; left:180px; width:260px; height:408px; border-left:1px solid #cfcfcf; box-shadow:0 0 8px #ccc; background:#fff;}

.menu ul li .info.one{ top:0; left:180px;}

.menu ul li .info.two{ top:-68px; left:180px;}

.menu ul li .info.three{ top:-136px;; left:180px;}

.menu ul li .info.four{ top:-204px; left:180px;}

.menu ul li .info.five{ top:-272px; left:180px;}

.menu ul li .info.six{ top:-340px; left:180px; width:552px; height:410px;}

.menu ul li .info .list_norm{ height:72px; padding:12px 10px;}

.menu ul li .info .list_norm li{ float:left; display:inline; width:80px; height:24px; overflow: hidden; }

.menu ul li .info .list_norm li a { display:block; width:68px; height:22px; padding: 0 5px; border:1px solid #fff; line-height:22px; color:#777; cursor: pointer; }

.menu ul li .info .list_norm li a:hover{ border-color:#f50; color:#f50; text-decoration:none;}

.menu ul li .info .list_factory{ height:328px;}

.menu ul li .info .list_factory li{ float:left; display:inline; width:184px; height:82px;}

.menu ul li .info .list_factory_btn {  padding-top: 10px;  text-align: center;  }

.menu ul li .info .list_factory_btn a{ display:inline-block; width:15px; height:15px; background:url(../img/zg_icon.png) no-repeat -240px -15px;}

.menu ul li .info .list_factory_btn a.active{ background-position:-240px 0;}

.menu ul li .info h6 { height:30px; padding:0 10px; border-bottom:1px solid #cfcfcf; border-top:1px solid #cfcfcf; line-height:30px; font-size:14px; color:#3d3d3d;}

.menu ul li .info h6 span { display: inline-block;float: right;height: 30px;}

.menu ul li .info h6 .dot { float: left; display:inline-block; width:13px; height:13px; margin:10px 0 0; background:url(../img/zg_icon.png) no-repeat -67px -124px; overflow:hidden;}

.menu ul li .info h6 .dot.active{ background-position:-80px -124px;}

.menu ul li .info .list_company{ padding:20px 10px;}

.menu ul li .info .list_company li{ float:left; display:inline; width: 70px; height:24px;}

.menu ul li .info .list_company li a { display:block; width: 70px; height:24px; padding:0 0 0 10px; line-height:24px; color:#777; cursor: pointer; }

.menu ul li .info .list_img{ padding:10px;}

.menu ul li .info .list_img li{ float:left; display:inline; width:120px; height:40px;}

.menu ul li .info .list_img li img{ display:block; width:110px; height:30px;}

.menu_ul {  display: block;  }



.index_banner{ margin:0 0 10px;}

.index_banner .slide {  height:408px;  min-width: 1000px;  }

.index_banner .slide .loading {  text-align: center;  padding-top: 156px;  }

.index_banner .slide .bg {  width: 100%;  height: 408px;  background-repeat: no-repeat;  background-position: 50% 50%;  position: relative;  }

.index_banner .slide .bg a{ position:absolute; left:50%; top:0; display:block; width:570px; height:408px; margin:0 0 0 -320px;}

.index_banner .slide_btn {  width: 570px;  height: 18px;  position: absolute;  z-index: 8;  top: -25px;  left: 180px;  text-align:center;  }

.index_banner .slide_btn a{ display:inline-block; width:30px; height:10px; margin:0 0 0 5px; background:#fff; color:#fff; line-height:0; font-size:0; text-decoration:none;}

.index_banner .slide_btn a.activeSlide{ color:#f50; background:#f50;}

.index_banner .slide_btn a:hover{ color:#f50; background:#f50;}

.index_banner .board{ position:absolute; top:-399px; right:0; width:250px; height:390px; box-shadow:0 0 6px #000; z-index: 9;}

.index_banner .board h3 {  position:relative; height:46px; line-height:46px; background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important; filter:Alpha(opacity=80); background:#000; font-size:24px; color:#fff;  text-indent: 20px; font-weight:normal;  }

.index_banner .board h3 span{ position:relative;}

.index_banner .board h3 .date{ position:absolute; right:5px; top:5px; width:46px; height:36px; border-radius:2px; line-height:18px; background:#fff; font-size:12px; color:#333; text-align:center; text-indent:0;}

.index_banner .board .list{ position:relative; height:344px; background:#fff; overflow: hidden; }

.index_banner .board .list .no-data {  text-align: center;  padding-top: 163px;  }

.index_banner .board .list .loading {  text-align: center;  padding-top: 124px;  }

.index_banner .board .list .list-inner {  width: 1677px;  height: 308px;  overflow: hidden;  }

.index_banner .board .list ul{ float: left; display: inline; width:250px; height:308px;}

.index_banner .board .list ul li{ *margin:0 0 0 -16px; height:36px;}

.index_banner .board .list ul li .part{ width:250px; height:35px; line-height:35px; border-bottom:1px solid #d2deec; text-align:center;}

.index_banner .board .list ul li .part span{ position:relative; display:inline-block; width:62px; height:35px;}

.index_banner .board .list ul li .part span .icon_falt {  position: absolute;  top: 15px;  left: 23px;  width: 14px;  height: 4px;  background: url(../img/zg_icon.png) no-repeat -59px -137px;  overflow:hidden;  }

.index_banner .board .list ul li .part span .icon_up{ position:absolute; top:12px; left:25px; width:9px; height:10px; background:url(../img/zg_icon.png) no-repeat -192px -44px; overflow:hidden;}

.index_banner .board .list ul li .part span .icon_down{ position:absolute; top:12px; left:25px; width:9px; height:10px; background:url(../img/zg_icon.png) no-repeat -183px -44px; overflow:hidden;}

.index_banner .board .list ul li .full{ position:relative; width:250px; height:164px; background:url(../img/board_bg.png) repeat-x center;}

.index_banner .board .list ul li .full .icon_arrow{ position:absolute; left:180px; top:60px; width:35px; height:64px; background:url(../img/zg_icon.png) no-repeat -159px -269px; overflow:hidden;}

.index_banner .board .list ul li .full .icon_arrow.up{ background-position:-159px -269px;}

.index_banner .board .list ul li .full .icon_arrow.down{ background-position:-220px -307px;}

.index_banner .board .list ul li .full .icon_arrow.falt{ top:75px; width:44px; height:12px; background-position:-93px -127px;}

.index_banner .board .list ul li .full h5{ height:20px; line-height:20px; color:#8a8a8a; font-weight:normal; text-indent:5px; font-size:12px;}

.index_banner .board .list ul li .full h5.red {  color: #F50000;  }

.index_banner .board .list ul li .full h2{ height:40px; line-height:40px; font-size:30px; color:#005bac; font-weight:normal; text-align:center;}

.index_banner .board .list ul li .full h4 {  height:42px;  padding:0 0 0 45px;  line-height:42px;  font-family:Tahoma, Arial;  font-size:40px;  font-weight:normal;  }

.index_banner .board .list ul li .full h4.blue{ color:#005bac}

.index_banner .board .list ul li .full h4.green{ color:#339900}

.index_banner .board .list ul li .full p{ height:28px; line-height:24px; padding:0 0 0 45px; font-family:Tahoma, Arial; font-size:22px; }

.index_banner .board .list ul li .full span{ line-height:18px; padding:0 0 0 45px; font-size:14px; color:#666;}

.index_banner .board .list_btn {  position:absolute;  left:0;  top:308px;  width:250px;  padding-top: 10px;  text-align: center;  }

.index_banner .board .list_btn a{ display:inline-block; width:15px; height:15px; background:url(../img/zg_icon.png) no-repeat -240px -15px;}  .index_banner .board .list_btn a.active{ background-position:-240px 0;}



.index_content{ padding:0 0 40px;}

.index_content .helpme{ height:80px; margin:0 0 10px; background:url(../img/helpme_bg.jpg) no-repeat;}

.index_content .helpme .text{ float:left; display:inline; width:320px; height:56px; margin:12px 0 0 300px;}

.index_content .helpme .text textarea{ width:290px; height:40px; margin:0; padding:7px 15px; border:1px solid #a8a8a8; border-right:0; box-shadow:inset 0 2px 3px #999; line-height:20px; background:#fff; font-size:12px; overflow:hidden; outline:none;}

.index_content .helpme .button{ float:left; display:inline; width:100px; height:56px; margin:12px 0 0;}

.index_content .helpme .button input{ width:100px; height:56px; margin:0; padding:0; border:0; background:url(../img/zg_icon.png) no-repeat 0 -365px; outline:none; font-size:16px; font-weight:bold; color:#fff; cursor:pointer; text-align:left; text-indent:40px;}

.index_content .left{ float:left; display:inline; width:740px;}

.index_content .left .item{ border-top:2px solid #feab4a;}

.index_content .left .item.two{ margin:0 0 10px; border-top-color:#67bbea;}

.index_content .left .item.three{ margin:0 0 10px; border-top-color:#fe6d6d;}

.index_content .left .item.four{ margin:0 0 10px; border-top-color:#9c6dd5;}

.index_content .left .item_left{ float:left; display:inline; width:180px;}

.index_content .left .item_left h2{ text-align: center; height:100px; padding:10px 0 0 0; background:#feab4a; font-size:36px; color:#fff;}

.index_content .left .item_left h2 span{ display:block; height:20px; line-height:20px; font-size:18px; font-weight:normal;}

.index_content .left .item.two .item_left h2{ background:#67bbea;}

.index_content .left .item.three .item_left h2{ background:#fe6d6d;}

.index_content .left .item.four .item_left h2{ background:#9c6dd5;}

.index_content .left .item_left .top{ border:1px solid #e3e3e3; border-top:0; border-bottom:0;}

.index_content .left .item_left .top .icon_up{ display:block; width:9px; height:10px; background:url(../img/zg_icon.png) no-repeat -192px -44px; overflow:hidden;}

.index_content .left .item_left .top .icon_down{ display:block; width:9px; height:10px; background:url(../img/zg_icon.png) no-repeat -183px -44px; overflow:hidden;}

.index_content .left .item_left .top h4{ height:32px; font-size:12px; font-weight:normal;}

.index_content .left .item_left .top h4 a{ float:left; display:inline-block; width:89px; height:32px; line-height:32px; background:#f1edec; color:#666; text-align:center;}

.index_content .left .item_left .top h4 a:hover{ text-decoration:none;}

.index_content .left .item_left .top h4 a.active{ background:#fff; color:#f50;}

.index_content .left .item_left .top table{ padding:0 5px; color:#666; text-align:left;}

.index_content .left .item_left .top table col.no {  width: 28px;  }

.index_content .left .item_left .top table col.factoryName,

.index_content .left .item_left .top table col.spectificationName {  width: 94px;  }

.index_content .left .item_left .top table col.dealRate {  width: 42px;  }

.index_content .left .item_left .top table col.trend {  width: 14px;  }

.index_content .left .item_left .top table td{ height:28px; border-bottom:1px solid #e3e3e3; line-height:28px;}

.index_content .left .item_left .top table td .num{ display:block; width:16px; height:16px; margin:0 0 0 5px; line-height:16px; background:#acacac; text-align:center; color:#fff;}

.index_content .left .item_left .top table td .num.one{ background:#f50;}

.index_content .left .item_right{ float:left; display:inline; width:560px;}

.index_content .left .item_right .switch{ position:relative; width:559px; height:212px; border-right:1px solid #e3e3e3; overflow:hidden;}

.index_content .left .item_right .switch .loading {  text-align: center;  padding-top: 58px;  }

.index_content .left .item_right .switch .next{ position: absolute; top:46px; left:541px; width:18px; height:120px; line-height:120px; background:url(../img/arrow_right.png); cursor: pointer;}

.index_content .left .item_right .switch .prev{ position: absolute; top:46px; left:0; width:18px; height:120px; line-height:120px; background:url(../img/arrow_left.png); cursor: pointer;}

.index_content .left .item_right .switch ul{ width:1677px; height:212px;}

.index_content .left .item_right .switch ul li{ float:left; display:inline; width:559px; height:212px;}

.index_content .left .item_right .switch ul li .switch_big { cursor: pointer; float:left; display:inline; width:330px; height:211px; border-bottom:1px solid #e3e3e3; border-right:1px solid #e3e3e3;}

.index_content .left .item_right .switch ul li .switch_big .img{ float:left; display:inline; width:145px; padding:30px 0 0; text-align:center; font-size:26px; color:#666; font-weight:bold;}

.index_content .left .item_right .switch ul li .switch_big .img img{ display:block; margin:0 0 10px 22px; _margin:0 0 10px 0;}

.index_content .left .item_right .switch ul li .switch_big .text{ float:left; display:inline; width:175px; padding:10px 10px 0 0; font-family:Tahoma, Arial;}

.index_content .left .item_right .switch ul li .switch_big .text p{ height:26px; line-height:26px; font-size:24px; text-align:right; color:#666;}

.index_content .left .item_right .switch ul li .switch_big .text p span{ font-family:"Microsoft YaHei","微软雅黑";}

.index_content .left .item_right .switch ul li .switch_big .text h3{ height:70px; line-height:70px; font-size:60px; font-weight:normal;}

.index_content .left .item_right .switch ul li .switch_big .text b{ display:block; height:20px; margin:0 0 20px; line-height:20px; font-size:16px; color:#666; font-weight:normal;}

.index_content .left .item_right .switch ul li .switch_big .text a{ line-height:20px; font-size:18px; color:#f50; font-family:"Microsoft YaHei","微软雅黑";}

.index_content .left .item_right .switch ul li .switch_small { cursor: pointer; float:left; display:inline; width:228px; height:105px; border-bottom:1px solid #e3e3e3;}

.index_content .left .item_right .switch ul li .switch_small .img{ float:left; display:inline; width:90px; padding:10px 0 0; text-align:center; font-size:16px; color:#666; font-weight:bold;}

.index_content .left .item_right .switch ul li .switch_small .img img{ display:block; margin:0 0 10px 15px; _margin:0 0 10px 0; }

.index_content .left .item_right .switch ul li .switch_small .text{ float:left; display:inline; width:138px; padding:10px 0 0; font-family:Tahoma, Arial;}

.index_content .left .item_right .switch ul li .switch_small .text p{ height:26px; line-height:26px; font-size:24px; text-align:right; color:#666;}

.index_content .left .item_right .switch ul li .switch_small .text p span{ font-family:"Microsoft YaHei","微软雅黑";}

.index_content .left .item_right .switch ul li .switch_small .text h4{ height:40px; line-height:40px; font-size:36px; font-weight:normal;}

.index_content .left .item_right .switch ul li .switch_small .text b{ display:block; height:20px; margin:0 0 5px; line-height:20px; font-size:12px; color:#666; font-weight:normal;}

.index_content .left .item_right .switch ul li .switch_small .text a{ line-height:20px; font-size:14px; color:#f50; font-family:"Microsoft YaHei","微软雅黑";}

.index_content .left .item_right .survey{ width:535px; height:161px; padding:0 12px; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}

.index_content .left .item_right .survey h4{ height:20px; padding:6px 0; line-height:20px; color:#666; font-size:14px; font-weight:normal;}

.index_content .left .item_right .survey .list{ line-height:25px; color:#666;}

.index_content .left .item_right .survey .list .table1{ float:left; display:inline; width:260px; padding:0 7px 0 0; border-right:1px dashed #e3e3e3;}

.index_content .left .item_right .survey .list .table1 tr,

.index_content .left .item_right .survey .list .table2 tr {  cursor: pointer;  }

.index_content .left .item_right .survey .list .table1 table,

.index_content .left .item_right .survey .list .table2 table {  width: 100%;  }

.index_content .left .item_right .survey .list .table1 table td.loading,

.index_content .left .item_right .survey .list .table2 table td.loading {  text-align: center;  vertical-align: middle;  }

.index_content .left .item_right .survey .list .table2{ float:left; display:inline; width:260px; padding:0 0 0 7px;}

.index_content .left .item_right .survey .list .rejuan .name{ display:block; width:65px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .rejuan .norm{ display:block; width:85px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .jiancai .name{ display:block; width:100px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .jiancai .norm{ display:block; width:50px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .zhongban .name{ display:block; width:80px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .zhongban .norm{ display:block; width:70px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .lengzha .name{ display:block; width:70px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.index_content .left .item_right .survey .list .lengzha .norm{ display:block; width:80px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}



.index_content .right{ float:left; display:inline; width:248px; margin:0 0 0 10px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; background:#fff;}

.index_content .right.fixed { position:fixed; top:70px; left:50%; margin:0 0 0 250px; _margin:0 0 0 10px; }

.index_content .right h2{ border-top:2px solid #3a83e8; border-bottom:1px solid #e5e5e5; line-height:34px; background:#fafafa; color:#333; font-size:12px; font-weight:normal;}

.index_content .right h2 .name{ float:left; display:inline; width: 30px; padding:0 0 0 10px;}

.index_content .right h2 .info{ float:left; display:inline; width:90px; padding:0 0 0 10px;}

.index_content .right h2 .state{ float:left; display:inline; width:60px;}

.index_content .right h2 .time{ float:left; display:inline; width:48px;}

.index_content .right .list{ position:relative; height:525px; padding:0 0 10px; border-bottom:1px solid #e5e5e5; overflow:hidden;}

.index_content .right .list .loading {  text-align: center;  padding-top: 172px;  }

.index_content .right .list ul{ width:248px; height:429px;}

.index_content .right .list ul li{ float:left; line-height:24px; color:#666; overflow: hidden;}

.index_content .right .list ul li .name{ float:left; display:inline; width:30px; padding:0 0 0 10px; color:#999;}

.index_content .right .list ul li .info{ float:left; display:inline; width:90px; padding:0 0 0 10px; color:#0b6fb3;}

.index_content .right .list ul li .state{ float:left; display:inline; width:60px; }

.index_content .right .list ul li .time{ float:left; display:inline; width:48px; color:#999;}


.index_fixed.fixed1 {  position: fixed;  top: 100px;}

.index_fixed  .option{ width: 58px;   border: 1px  solid#cfcfcf;  border-bottom: 0;  }

ol ul li{ list-style: none;}

.index_fixed .option ul li {  position: relative;  height: 16px;  padding: 42px 0 0;  line-height: 1em;  border-bottom: 1px solid #cfcfcf;  text-align: center;  color: #4d4d4d;  cursor: pointer;  }

.index_fixed .option ul li .icon_goods {  position: absolute;  left: 10px;  top: 6px;  width: 37px;  height: 30px;  background: url(../img/zg_icon.png) no-repeat -211px -235px;  overflow: hidden;  }

.index_fixed .option ul li .big_code {  position: absolute;  left: -118px;  top: 0;  width: 118px;  height: 136px;  border: 1px solid #ccc;  box-shadow: 0 0 4px #eee;  }

.index_fixed  .gotop{ margin: 5px 0 0;}

.index_fixed .gotop a {  display: block;  width: 60px;  height: 22px;  line-height: 22px;  background: url(../img/zg_icon.png) no-repeat -159px -333px;  overflow: hidden;  text-align: center;  color: #fff;  }

.index_layer{position: absolute;left: 50%;margin-left: -600px;z-index: 9;}

.index_layer ul li {width: 60px;   height: 60px;    margin: 0 0 10px;    cursor: pointer;}

.index_layer ul li.active .icon_circle {  background-position: -160px -355px;  color: #fff;  }

.index_layer ul li .icon_circle {  display: block;  width: 60px;  height: 60px;  line-height: 60px;  background: url(../img/zg_icon.png) no-repeat -100px -365px;  overflow: hidden;  color: #666;  font-size: 16px;  font-style: normal;  text-align: center;  }



.mall_foot{padding: 30px 0 0;     border-top: 1px  solid #ddd }

.mall_foot  .list{ padding: 0  0  40px;}

.mall_foot .list .one{float: left;  display: inline;  width: 160px;   margin: 70px  10px 0  0;  text-align:center;  font-size: 14px;   color: #999;}

.mall_foot .list .one .car{width: 103px;  height: 112px; background: url(../img/zg_icon.png)  no-repeat -362px  -60px;}

.mall_foot .list .one .car h5{color: #666;  font-size: 12px;}

.mall_foot .list .two{position: relative;   float: left;  display: inline;   width: 139px ;  margin: 0  55px  0  0;  border-right:1px  solid#cfcfcf ;}

.mall_foot .list .two .icon_buy{position: absolute; top: 0;  left: -40px;  display: block;  width: 34px;  height: 34px;  background: url(../img/zg_icon.png)no-repeat -223px  -66px;  overflow: hidden;}

.mall_foot .left .two h4{padding:10px  0;   color: #666 ;  font-size: 14px;}

.mall_foot .left .two li{line-height: 24px;}

ol,ul, li{list-style: none; line-height: 24px}

.mall_foot .left .two li a {color: #707070;}

a{text-decoration: none; color: #666 }

.mall_foot .list .three{position: relative; float: left; display: inline;  width: 139px;  margin: 0  55px 0 0;border-right: 1px  solid#cfcfcf;}

.mall_foot .list .three .icon_sale {  position: absolute;  top: 0;  left: -40px;  display: block;  width: 34px;  height: 34px;  background: url(../img/zg_icon.png) no-repeat -223px -32px;  overflow: hidden;  }

.mall_foot .list .four {  position: relative;  float: left;  display: inline;  width: 119px;  margin: 0 55px 0 0;  border-right: 1px solid #cfcfcf;  }

.mall_foot .list .four .icon_business {  position: absolute;  top: 0;  left: -40px;  display: block;  width: 34px;  height: 34px;  background: url(../img/zg_icon.png) no-repeat -223px -100px;  overflow: hidden;  }

.mall_foot .list .five {  position: relative;  float: left;  display: inline;  width: 129px;  margin: 0 15px 0 0;  border-right: 1px solid #cfcfcf;  }

.mall_foot .list .five .icon_question {  position: absolute;  top: 0;  left: -40px;  display: block;  width: 34px;  height: 34px;  background: url(../img/zg_icon.png) no-repeat -223px -134px;  overflow: hidden;  }

.clearfix:after {  content: '\20';  display: block;  height: 0;  clear: both;  }

.mall_foot .link {  color: #666;  text-align: center;  }

.mall_foot .link a {  color: #666;  }

.mall_foot .text {  padding: 10px 0 0;  color: #666;  text-align: center;  }

.mall_foot .img {  padding: 10px 0 20px;  text-align: center;  }
